<div class="container">
  <div class="top-bar">
    {{#link-to 'index'}}
      <div class="center header-title">
        <em>Raccoon Prezis!</em>
      </div>
    {{/link-to}}
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
