{{#list-filter
  filter=(action 'filterByTitle')
  as |prezis|}}
  <div class="results">
    {{#each prezis as |preziUnit|}}
      <article class="listing">{{prezi-listing prezi=preziUnit}}</article>
    {{/each}}
  </div>
{{/list-filter}}
