<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
</div>

{{#list-filter
  filter=(action 'filterByTitle')
  as |prezis|}}
  <ul class="results">
    {{#each prezis as |preziUnit|}}
      <li>{{prezi-listing prezi=preziUnit}}</li>
    {{/each}}
  </ul>
{{/list-filter}}
